
.contacts-page .logo-contacts {
    text-align: center;
}

.contacts-page .logo-contacts h3 {
    font-size: 25px;
    cursor: pointer;
}

.contacts-page .logo-contacts p {
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 6px;
    cursor: pointer;
}

.contact-contents {
    padding: 9% 10%;
}

.contact-contents h1 {
    margin-top: 50px;
    font-size: 75px;
    letter-spacing: 0;
    width: 70%;
    line-height: 71px;
}

.contact-contents p {
    font-size: 20px;
    margin-top: 50px;
    padding: 0px 15px;
}

.contact-contents .greathehe {
    /*position: absolute;*/
    right: 0;
    width: 450px;
    top: 20%;
    margin-right: 10%;
}

.middle-contact {
    font-size: 25px;
    text-align: left;
    background-image: url(../assets/Batan_view/13.jpg);
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.middle-contact h1 {
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px 5px #000000;

}
