.grid {
    margin-top: 50px;
    display: flex;
}

.footer {
    background-color: #F1F8FF;
    padding-top: 25px;
}

.logo-container {
    flex: 1;
}

.footer .logo {
    margin-left: 50px;
    height: 200px;
    width: 200px;
}

.connect {
    flex: 1;
}

.connect h3 {
    font-size: 1.6rem;
}

.contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contacts .icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    transition: transform 0.3s ease-in-out;
    font-size: 1.2rem;
}

.contacts .icon:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.contacts .icon p {
    font-size: 0.85rem;
    color: #343F4F;
}


@media screen and (max-width: 1200px) {
    .grid {
        flex-direction: column;
        align-items: center;
    }

}
