@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
    margin: 0rem;

}


/* 1st Section Start */
.hero{
    width: 100%;
    height:100vh;
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s;
    box-sizing: border-box;
    z-index: 1000;
}
header h2{
    margin-top: 5px;
    cursor: pointer;
}
.LOGO{
    text-align: center;
}
.LOGO h3{
    font-size: 25px;
    cursor: pointer;
}
.LOGO p{
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 6px;
    cursor: pointer;
    color: white;
}


.navbuttons ul{
    display: flex;
    
}

.navbuttons ul li{
    /* display: inline-block; */
    position: relative;
    list-style: none;
    margin-right:50px;
    padding: 10px 0px;
}
.navbuttons ul li a{
    /* display: block; */
    text-decoration: none;
    font-size: 18px;
}

.navbuttons ul .dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.navbuttons ul li:hover ul.dropdown {
    display: block;
}

.navbuttons ul .dropdown li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 9rem;
    margin-top: -30px;
    cursor:default;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ultra', serif;
    font-family: 'Viga', sans-serif;
}
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media screen and (min-width: 2080px){
    .bg-video{
        width: 100%;
    }
}

.places-to-go{
    width: 100%;
    height: 900px;
    padding: 50px;
    text-align: center;
}
.places-to-go h2{
    font-size: 80px;
    margin-top: 10px;
}
.places-to-go p{
    font-size: 15px;
}
.main-text{
    position: absolute;
    padding: 8% 10%;
    font-size: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ultra', serif;
    font-family: 'Viga', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}
.main-text span{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ultra', serif;
    font-family: 'Viga', sans-serif;
    font-size: 60px;
}
.btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0px 5px;
    text-transform: uppercase;
}

.btn:hover {
    border-bottom:3px solid #757575;
    transition: 0.3s;
    transform: translateY(-4px);
    font-weight: 900;
}

  /* 2nd Section Start */



  /* 2nd Section End */
/*2.5 section start*/
.card-section{
    background-color: #ebfcff60;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-section .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10.2rem;
}
.card-section .heading h1{
    margin: 0 2rem;
    width: 400px;
    font-size: 2.4rem;
}

.card-section .heading p{
    font-size: 0.9rem;
    width: 30%;
    margin-right: 40px;
    text-align: end;
}
.card-section2{
    background-color: #ebfcff60;
    margin-bottom: 50px;
    margin-top: 80px;
}
hr{
    width: 45%;
    margin-left: 15%;
    margin-top: -35px;
}
.card-section2 .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10.2rem;
    flex-wrap: wrap;

}
.card-section2 .heading h1{
    margin: 2.5rem 2rem;
    width: 600px;
    font-size: 2.4rem;
    
}

.card-section2 .heading p{
    font-size: 0.9rem;
    width: 35%;
    margin-right: 40px;
    text-align: end;
}

.card-container{
    margin: 0 auto;
    position: relative;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2rem;
    column-gap: 0.8rem;
    padding: 0 11.2rem 0 11.2rem;
}

.card{
    position: relative;
    animation: 0.5s ease 0s 1 normal none running animation-v6topk;
    outline: none;
    min-height: 246px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.card .pageCard-container{
    margin-bottom: 3rem;
}

.card .pageCard-container .pageCard img{
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    object-fit: fit;
    display: block;
    border-radius: 8px 8px 8px 0;
    overflow: hidden;
}

.card .pageCard-container .pageCard i{
    position: absolute;
    margin-top: -39px;
    right: 0;
    padding: 8px;
    font-size: 1.2rem;
    height: 40px;
    width: 40px;
    text-align: center;
    z-index: 1;
    background-color: #F1F8FF;
    border-radius: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card .pageCard-container .card-detail{
    overflow: hidden;
    text-wrap: wrap;
    padding: 0.5rem 0.2rem 0.5rem 0.8rem;
    margin-right: 40px;
}

.card .pageCard-container .card-detail p{
    color: #343F4F;
}

.card .pageCard-container .card-detail h3{
    font-size: 1.5rem;
    margin: 0.4rem 0;
}

/*2.5 section end*/
  /* 3rd Section Start */
.placestogoforreal{
    background-image: url(assets/Batan_view/chgurch.jpg);
    background-position: center;
    width: 100%;
    height: 85vh;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.slider{
    width: 100%;
    height: 700px;
    position: relative;
}

.buttons{
    position: absolute;
    top:97%;
    width: 90%;
    display: flex;
    z-index: 100;
    display: inline-block;
    left: 5%;
    right: 0%;
}
.animalholder{
    position: absolute;
    right: 0%;
    top: 109%;
}
.animalholder img{
    width: 80%;
    right: -10%;
    position:relative;

    border-radius: 5px;
}
.infohold{
    background-color: #e8ffe8;
    width: 600px;
    height: 420px;
    position: absolute;
    bottom: -66%;
    left: 21%;
    border-radius: 10px;
    text-align: start;
    padding: 40px 50px;

}
.infohold h3{
    font-size: 40px;
    margin-top: 25px;
    letter-spacing: -1px;
    line-height: 45px;
}
.infohold .infoaboutbirdie{
    margin-top: 25px;
}
.infohold .seemore{
    width: 40%;
    height: 15%;
    margin-top: 30px;
    background-color: #178a17;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}
.buttons button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    color: #109424;
    border: none;
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
    
}
.buttons{
    display: flex;
    justify-content: end;
}
.paragraph-3rdsec{
    position: absolute;
    margin: 13% 10%;
    width: 45%;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px #000000;
}
  /* 3rd Section End */

    /* 3rd Section Start */
.packages{
    background: rgba(168, 255, 110, 0.26);
    padding-bottom: 5rem;
}
.packages  .package-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    padding: 2.1rem 0;
}

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 7rem;
}


.packages .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    background-color: #F1F8FF;
}

.packages .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box .package-content{
    padding: 1.5rem;
    margin-bottom: 10px;
}

.packages .box-container .box .package-content h3{
    font-size:1.5rem;
    color: #333;
    text-transform: capitalize;
    
}

.packages .box-container .box .package-content h3 i{
    font-size: 1.7rem;
    color: orange;
    margin-right: 1.3rem;
}

.packages .box-container .box .package-content p{
    font-size: 0.95rem;
    color: 666;
    padding: 1rem 0;
}

.packages .box-container .box .package-content .stars i{
    font-size:1.3rem;
    color: orange;
}

.packages .box-container .box .package-content .price{
    font-size: 1.6rem;
    color: #333;
    margin: 1rem 0;
}

.packages .box-container .box .package-content span{
    color: #666;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.packages .box-container .box .package-content a{
    text-transform: capitalize;
    color: #ffffff;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 5px;
    margin: 2rem 0;
}
  /* 3rd Section End */

/* 4th Section Start - Testimonial */

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-header{
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    line-height: 1.2;
}

.testimonials{
    padding: 100px 0;
    font-size: 16px;
}

.testimonials-item{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
}

.testimonials-item .info{
    display: flex;
    align-items: center;
}

.testimonials-item .info img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}

.testimonials-item p{
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
}

.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: gray;
}
/* 4th Section End - Testimonial */
/* footer */
.grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}
.footer{
    background-color: #F1F8FF;
    padding: 0 11.2rem;
}

.footer .logo{
    grid-column: span 2;
    width: 100%;
    margin: 50px 0 45px -20px;

}

.connect{
    grid-column: 3 / span 3;
    margin: 50px 0 45px 0;
    padding-left: 2.2rem;
}

.connect h3{
    margin: 20px 0 0 0;
    font-size: 1.6rem;
}

.contacts{
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0;
}

.contacts .icon{
    display: flex;
    align-items: center;
    margin: 4px 0;
    gap: 8px;
    text-decoration: none;
    color: #222222;
}

.contacts .icon:hover{
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}

.contacts .icon i {
    font-size: 1.2rem;
}

.contacts .icon p{
    font-size: 0.85rem;
    color: #343F4F;
}

.to-top{
    margin: 110px 0 45px 0;
    grid-column: 11 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
    padding: 8rem 0 3rem 0;
}
.map{
    grid-column: 7;
    margin-top: 20px;
}
.footer-navigation{
    margin-top: 15px;
    grid-column: 8;
    position: absolute;
    bottom: 35%;
    margin-left: 5%;
}
s
.footer-navigation ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-navigation ul li{
    list-style-type: none;
}
.footer-navigation ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.footer-navigation ul li a:hover{
    font-size: 18px;
    border-bottom: 3px solid grey;
}
/* footer */

/*                                  contact page                           */
.contacts-page{
    color: black;
    
}
.contacts-page .navbuttons ul li a{
    color: black;
}
.contacts-page header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    transition: 0.8s;
    box-sizing: border-box;
    z-index: 1000;
    background: white;
}
.contacts-page header h2{
    margin-top: 5px;
    cursor: pointer;
}
.contacts-page .logo-contacts{
    text-align: center;
}
.contacts-page .logo-contacts h3{
    font-size: 25px;
    cursor: pointer;
}
.contacts-page .logo-contacts p{
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 6px;
    cursor: pointer;
}

.contact-contents{
    padding: 9% 10%;
}
.contact-contents h1{
    margin-top: 50px;
    font-size:75px;
    letter-spacing: 0;
    width: 70%;
    line-height: 71px;
}
.contact-contents p{
    font-size: 20px;
    margin-top: 50px;
    padding: 0px 15px;
}
.contact-contents .greathehe{
    position: absolute;
    right: 0;
    width: 450px;
    top: 20%;
    margin-right: 10%;
}

.middle-contact{
    font-size: 25px;
    text-align: left;
    background-image: url(assets/aboutus.jpg);
    margin-top: 120px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.middle-contact h1{
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px 5px #000000;

}
.lets-get-in-touch{
    margin: 3% 0px;
    padding: 0 2%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.lets-get-in-touch h2{
    font-size: 3rem;
    margin-top: 5px;
    font-weight: bold;
}
.lets-get-in-touch p {
    margin-top: 70px;
    width: 65%;
}
.lets-get-in-touch .socmeds{
    margin-top: 4%;
}
.lets-get-in-touch .socmeds ul{
    list-style-type: none;
}
.lets-get-in-touch .socmeds ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    
}
.left-section{
    width: 50%;
    margin-left: 10%;
}

.lets-get-in-touch .socmeds ul li i{
    margin-right: 10px;
}
.right-section{
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    width: auto;
}
.right-section .emailadd{
    width: 250%;
    height: 50px;
    border-radius: 20px;
    border: solid black 0.5px;
    padding: 20px;
}
.right-section .firstname{
    width: 250%;
    height: 50px;
    border-radius: 20px;
    border: solid black 0.5px;
    padding: 20px;
    margin-top: 73px;
}
.right-section .lastname{
    width: 250%;
    height: 50px;
    border-radius: 20px;
    border: solid black 0.5px;
    padding: 20px;
    margin-top: 20px;
}
.right-section button{
    margin-top: 40px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    background-color: #3ea832;
    color: white;
}
/*services*/

.packages{
    background: rgba(167, 223, 130, 0.26);
    padding-bottom: 5rem;
    margin-top: -175px;
}

.packages .package-title{
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    padding: 2.1rem 0;
    color: #333;
}

.packages .box-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0 7rem;
}

.packages .box-container .box{
    flex: 2 2 30rem;
    margin-bottom: 50px;
    margin-top: 5px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    background-color: #F1F8FF;
}

.packages .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.packages .box-container .box .package-content{
    padding: 1.5rem;
    margin-bottom: 10px;
}

.packages .box-container .box .package-content h3{
    font-size:1.5rem;
    color: #333;
    text-transform: capitalize;
    
}

.packages .box-container .box .package-content h3 i{
    font-size: 1.7rem;
    /* color: orange; */
    margin-right: 1.3rem;
}

.packages .box-container .box .package-content .description{
    font-size: 16px;
    color: #666;
    list-style: none;
    text-transform: capitalize;
    margin: 10px 0 0 7px;
    
}

.packages .box-container .box .package-content .stars i{
    font-size:1.3rem;
    color: orange;
    margin-top: 20px;
}

.packages .box-container .box .package-content .price{
    font-size: 1.6rem;
    color: #333;
    margin: 1rem 0;
}

.packages .box-container .box .package-content span{
    color: #666;
    font-size: 1.3rem;
    text-decoration: line-through;
}

.packages .box-container .box .package-content a{
    text-transform: capitalize;
    color: #ffffff;
    background-color: orange;
    padding: 12px 30px;
    border-radius: 5px;
    margin: 2rem 0;
}

.packages .box-container .box .package-content .align2{
    margin-top: 25px;
}

.packages .box-container .box .package-content .align3{
    margin-top: 50px;
}

.box-container#blur.active{
    filter: blur(10px);
}

/* ---popup starts--- */
#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 530px;
    padding: 5px 0px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #d0dbcb;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-content{
    margin: 0 0 20px 50px;
}

.popup-content h1{
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.popup-content ul li{
    list-style: none;
    text-transform: capitalize;
    font-size: 17px;
    margin: 0 0 3px 60px;
}

#popup a{
    padding: 8px;
    color: #111;
    border: none;
    cursor: pointer;
    font-size: 28px;
}

.popup-details{
    margin: 5px 0 30px 30px;
}

.seemore {
    text-transform: capitalize;
    background-color: rgba(158, 187, 152, 0.659);
    border-radius: 5px;
    margin-left:25px;
}

.seemore:hover{
    background-color: rgba(91, 224, 95, 0.366);
}
/* ---popup ends--- */

/* Itinerary Starts  */
summary{
    background-color: #84848487;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 15px auto;
    cursor: pointer;
    text-transform: uppercase;
}

summary:hover{
    background-color: #65725987;
    color: #333;
}

.itinerary{
    background: rgba(167, 223, 130, 0.26);
    text-align: center;
    padding: 20px;
    height: auto;
    margin-top: -50px;
    padding-bottom: 10%;
}

.itinerary .itinerary-title{
    margin-top: 80px;
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    color: #333;
}

.faq_body{
    background-color: #bfe7b38b;
    border-radius: 10px;
    padding: 30px 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    column-gap: 50px;
}
.head1{
    top: 10px;
    text-transform: uppercase;
}

.faq_body .faq_container,.faq_container2{
    margin: 0 auto;
    max-width: 400px;
    padding: auto;
    position: relative;
}

.faq_container .days{
    display: flex;
    column-gap: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: justify;
}

.faq_container ul li{
    list-style: none;
    margin-bottom: 3px;
}

.faq_container .day_tour ul li{
    list-style: disc;
}

.faq_container .day_tour{
    text-transform: capitalize;
}

.faq_container .day_tour h4{
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px;
}

.head2{
    margin-bottom: 40px;
    text-transform: uppercase;
}

.faq_container2 .days{
    display: flex;
    column-gap: 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: justify;
}

.faq_container2 .days_tour{
    text-transform: capitalize;
    text-align: justify;
}

.faq_container2 ul li{
    list-style: none;
    text-align: justify;
}

.faq_container2 .days_tour ul li{
    list-style: disc;
    text-align: justify;
}

.faq_container2 .days_tour h4{
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 16px;
}



/* Contact Page */
/* Discover Page - Restaurants - Start*/

/*RESPONSIVENESS MAIN PAGE*/

@media only screen and (min-width: 1281px) and (max-width: 1366px){
    /*CONTACTS*/
    .lets-get-in-touch{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .right-section{
        width: 100%;
        align-items: center;
    }
    .emailadd, .firstname, .lastname{
        width: 70% !important;
    }
    .left-section{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .left-section p{
        text-align: center;
        margin: 0 auto;
    }


    .buttons{
        display: flex;
        justify-content: end;
        margin-top: -40px;
    }
    .animalholder{
        position: absolute;
        right: 0%;
        top: 109%;
    }
    .animalholder img{
        width: 80%;
        right: -10%;
        position:relative;
        border-radius: 5px;
    }
    .infohold{
        background-color: #e8ffe8;
        width: 500px;
        height: 350px;
        position: absolute;
        bottom: -63%;
        left: 7%;
        border-radius: 10px;
        text-align: start;
        padding: 10px 50px;

    }
    .places-to-go{
        height: 750px;
    }
    .infohold h3{
        font-size: 35px;
        margin-top: 15px;
        letter-spacing: -1px;
        line-height: 45px;
    }
    .infohold .infoaboutbirdie{
        margin-top: 25px;
    }
    .infohold .seemore{
        width: 30%;
        height: 13%;
        margin-top: 30px;
        background-color: #178a17;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        letter-spacing: 1px;
    }
    .grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 30px;
    }
    .footer{
        background-color: #F1F8FF;
        padding: 0 11.2rem;
    }
    
    .footer .logo{
        grid-column: span 2;
        width: 200%;
        margin: 50px 0 45px -20px;
    
    }
    
    .connect{
        grid-column: 5 / span 5 ;
        margin: 50px 0 45px 0;
        padding-left: 2.2rem;

    }
    
    .connect h3{
        margin: 50px 0 0 0;
        font-size: 1.6rem;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        padding: 1.2rem 0;
    }
    
    .contacts .icon{
        display: flex;
        align-items: center;
        margin: 4px 0;
        gap: 8px;
        text-decoration: none;
        color: #222222;
    }
    
    .contacts .icon:hover{
        cursor: pointer;
        transform: translateY(-2px);
        transition: 0.3s ease-in-out;
    }
    
    .contacts .icon i {
        font-size: 1.2rem;
    }
    
    .contacts .icon p{
        font-size: 0.85rem;
        color: #343F4F;
    }
    
    .to-top{
        margin: 110px 0 45px 0;
        grid-column: 9 / span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        font-size: 14px;
        text-decoration: none;
        color: #222222;
        padding: 8rem 0 3rem 0;
    }
    .map{
        grid-column: 1/span 4;
        margin-top: 20px;
    }
    .footer-navigation{
        margin-top: 20px;
        grid-column: 10;
        position: absolute;
        bottom: 66%;
        margin-left: 5%;
    }

    .footer-navigation ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer-navigation ul li{
        list-style-type: none;
    }
    .footer-navigation ul li a{
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }
    .footer-navigation ul li a:hover{
        font-size: 18px;
        border-bottom: 3px solid grey;
    }
    .card-section .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 10.2rem;
        gap: 10px;
    }
    .card-section .heading h1{
        margin: 0 2rem;
        width: 400px;
        font-size: 2.4rem;
    }
    .card-container{
        margin-top: 25px;
        padding: 0px 5%;
        margin-top: 25px;
    }
    .card-section .heading p{
        font-size: 0.9rem;
        width: 30%;
        margin-right: 40px;
        text-align: center;
    }
    .card-section2{
        background-color: #ebfcff60;
        margin-bottom: 50px;
        margin-top: 100px;
    }
    hr{
        width: 45%;
        margin-left: 15%;
        margin-top: -35px;
    }
    .card-section2 .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 6.2rem;
        gap: 10px;
    }
    .card-section2 .heading h1{
        margin: 0 2rem;
        width: auto;
        font-size: 1.9rem;
        text-align: start;
    }

    .card-section2 .heading p{
        font-size: 0.9rem;
        width: 40%;
        margin-right: 40px;
        text-align: end;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
    /*CONTACTS*/
    .lets-get-in-touch{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .right-section{
        width: 100%;
        align-items: center;
    }
    .emailadd, .firstname, .lastname{
        width: 70% !important;
    }
    .left-section{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .left-section p{
        text-align: center;
        margin: 0 auto;
    }

    .paragraph-3rdsec{
        margin-top: 200px;
    }
    .buttons{
        display: flex;
        justify-content: end;
        margin-top: -60px;
    }
    .animalholder{
        position: absolute;
        right: 0%;
        top: 109%;
    }
    .animalholder img{
        width: 80%;
        right: -10%;
        position:relative;
        border-radius: 5px;
    }
    .infohold{
        background-color: #e8ffe8;
        width: 500px;
        height: 350px;
        position: absolute;
        bottom: -60%;
        left: 7%;
        border-radius: 10px;
        text-align: start;
        padding: 10px 50px;

    }
    .places-to-go{
        height: 700px;
    }
    .infohold h3{
        font-size: 35px;
        margin-top: 15px;
        letter-spacing: -1px;
        line-height: 45px;
    }
    .infohold .infoaboutbirdie{
        margin-top: 25px;
    }
    .infohold .seemore{
        width: 30%;
        height: 13%;
        margin-top: 30px;
        background-color: #178a17;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        letter-spacing: 1px;
    }
    .grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 30px;

    }
    .footer{
        background-color: #F1F8FF;
        padding: 0 5.2rem;
    }
    
    .footer .logo{
        grid-column: span 2;
        width: 200%;
        margin: 50px 0 45px -20px;
    
    }
    
    .connect{
        grid-column: 4 / span 5 ;
        margin: 50px 0 45px 0;
        padding-left: 2.2rem;

    }
    
    .connect h3{
        margin: 20px 0 0 0;
        font-size: 1.6rem;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        padding: 1.2rem 0;
    }
    
    .contacts .icon{
        display: flex;
        align-items: center;
        margin: 4px 0;
        gap: 8px;
        text-decoration: none;
        color: #222222;
    }
    
    .contacts .icon:hover{
        cursor: pointer;
        transform: translateY(-2px);
        transition: 0.3s ease-in-out;
    }
    
    .contacts .icon i {
        font-size: 1.2rem;
    }
    
    .contacts .icon p{
        font-size: 0.85rem;
        color: #343F4F;
    }
    
    .to-top{
        margin: 110px 0 45px 0;
        grid-column: 10 / span 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        font-size: 14px;
        text-decoration: none;
        color: #222222;
        padding: 8rem 0 3rem 0;
    }
    .map{
        grid-column: 1 / span 4;
        margin-top: 20px;
        
    }
    .footer-navigation{
        margin-top: 20px;
        grid-column: 10;
        position: absolute;
        bottom: 69%;
        margin-left: 5%;
    }

    .footer-navigation ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer-navigation ul li{
        list-style-type: none;
    }
    .footer-navigation ul li a{
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }
    .footer-navigation ul li a:hover{
        font-size: 18px;
        border-bottom: 3px solid grey;
    }
    .card-section{
        background-color: #ebfcff60;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card-section .heading{
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 2rem 8.2rem;
        flex-direction: column;
        gap: 10px;
        text-align:center;
    }
    .card-section .heading h1{
        margin: 0 0rem;
        font-size: 2.4rem;
        text-align: start;
    }
    .card-container{
        margin-top: 25px;
        padding: 0px 5%;
    }
    .card-section .heading p{
        font-size: 0.9rem;
        width: 90%;
        margin-right: 40px;
        text-align: start;
    }
    .card-section2{
        background-color: #ebfcff60;
        margin-bottom: 50px;
        margin-top: 80px;
    }
    hr{
        width: 45%;
        margin-left: 15%;
        margin-top: -35px;
    }
    .card-section2 .heading{
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 2rem 8.2rem;
        flex-direction: column;
        gap: 10px;
        text-align:center;
    }
    .card-section2 .heading h1{
        margin: 0 0rem;
        font-size: 2.4rem;
        text-align: start;
    }
    .card-section2 .heading p{
        font-size: 0.9rem;
        width: 90%;
        margin-right: 40px;
        text-align: start;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1536px){
    .buttons{
        display: flex;
        justify-content: end;
        margin-top: -40px;
    }
    .animalholder{
        position: absolute;
        right: 0%;
        top: 109%;
    }
    .animalholder img{
        width: 80%;
        right: -10%;
        position:relative;
        border-radius: 5px;
    }
    .infohold{
        background-color: #e8ffe8;
        width: 600px;
        height: 420px;
        position: absolute;
        bottom: -70%;
        left: 5%;
        border-radius: 10px;
        text-align: start;
        padding: 40px 50px;

    }
    .infohold h3{
        font-size: 40px;
        margin-top: 25px;
        letter-spacing: -1px;
        line-height: 45px;
    }
    .infohold .infoaboutbirdie{
        margin-top: 25px;
    }
    .infohold .seemore{
        width: 40%;
        height: 15%;
        margin-top: 30px;
        background-color: #178a17;
        border: 0;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        letter-spacing: 1px;
    }
    .grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 30px;
    }
    .footer{
        background-color: #F1F8FF;
        padding: 0 11.2rem;
    }
    
    .footer .logo{
        grid-column: span 2;
        width: 150%;
        margin: 50px 0 45px -20px;
    
    }
    
    .connect{
        grid-column: 4 / span 5 ;
        margin: 50px 0 45px 0;
        padding-left: 2.2rem;

    }
    
    .connect h3{
        margin: 20px 0 0 0;
        font-size: 1.6rem;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        padding: 1.2rem 0;
    }
    
    .contacts .icon{
        display: flex;
        align-items: center;
        margin: 4px 0;
        gap: 8px;
        text-decoration: none;
        color: #222222;
    }
    
    .contacts .icon:hover{
        cursor: pointer;
        transform: translateY(-2px);
        transition: 0.3s ease-in-out;
    }
    
    .contacts .icon i {
        font-size: 1.2rem;
    }
    
    .contacts .icon p{
        font-size: 0.85rem;
        color: #343F4F;
    }
    
    .to-top{
        margin: 110px 0 45px 0;
        grid-column: 8 / span 4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        font-size: 14px;
        text-decoration: none;
        color: #222222;
        padding: 8rem 0 3rem 0;
    }
    .map{
        grid-column: 1/span 6;
        margin-top: 20px;
    }
    .footer-navigation{
        margin-top: 15px;
        grid-column: 10;
        position: absolute;
        bottom: 67%;
        margin-left: 5%;
    }
    .footer-navigation ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer-navigation ul li{
        list-style-type: none;
    }
    .footer-navigation ul li a{
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }
    .footer-navigation ul li a:hover{
        font-size: 18px;
        border-bottom: 3px solid grey;
    }
    .card-section{
        background-color: #ebfcff60;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card-section .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 10.2rem;
        flex-direction: row;
        gap: 10px;
    }
    .card-section .heading h1{
        margin: 0 2rem;
        width: 400px;
        font-size: 2.4rem;
        text-align: start;
    }
    .card-container{
        margin-top: 50px;
        padding: 0px 5%;
    }
    .card-section .heading p{
        font-size: 0.9rem;
        width: 30%;
        margin-right: 40px;
        text-align: end;
    }
    .card-section2{
        background-color: #ebfcff60;
        margin-bottom: 50px;
        margin-top: 80px;
    }
    hr{
        width: 45%;
        margin-left: 15%;
        margin-top: -35px;
    }
    .card-section2 .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 6.2rem;
        flex-direction: row;
        gap: 10px;
    }
    .card-section2 .heading h1{
        margin: 0 2rem;
        width: auto;
        font-size: 2.4rem;
        text-align: start;
    }

    .card-section2 .heading p{
        font-size: 0.9rem;
        width: 40%;
        margin-right: 40px;
        text-align: end;
        margin-top: 30px;
    }
    /*CONTACTS*/
    .lets-get-in-touch{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .right-section{
        width: 100%;
        align-items: center;
    }
    .emailadd, .firstname, .lastname{
        width: 50% !important;
    }
    .left-section{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .left-section p{
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px){
        /*CONTACTS*/
        .lets-get-in-touch{
            display: flex;
            flex-direction: column;
            height: auto;
        }
        .right-section{
            width: 100%;
            align-items: center;
        }
        .emailadd, .firstname, .lastname{
            width: 70% !important;
        }
        .left-section{
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .left-section p{
            text-align: center;
            margin: 0 auto;
        }
        .map{
            position: absolute;
            visibility: hidden;
        }

        .paragraph-3rdsec{
            margin-top: 200px;
        }
        .buttons{
            display: flex;
            justify-content: end;
            margin-top: -40px;
        }
        .animalholder{
            position: absolute;
            right: 0%;
            top: 109%;
        }
        .animalholder img{
            width: 80%;
            right: -10%;
            position:relative;
            border-radius: 5px;
        }
        .infohold{
            background-color: #e8ffe8;
            width: 40px;
            height: 35px;
            position: absolute;
            bottom: -63%;
            left: 7%;
            border-radius: 10px;
            text-align: start;
            padding: 10px 50px;
    
        }
        .places-to-go{
            height: 700px;
        }
        .infohold h3{
            font-size: 35px;
            margin-top: 15px;
            letter-spacing: -1px;
            line-height: 45px;
        }
        .infohold .infoaboutbirdie{
            margin-top: 25px;
        }
        .infohold .seemore{
            width: 30%;
            height: 13%;
            margin-top: 30px;
            background-color: #178a17;
            border: 0;
            border-radius: 5px;
            font-size: 15px;
            color: white;
            letter-spacing: 1px;
        }
        .grid{
            position: relative;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 30px;
            grid-template-rows: repeat(3, 1fr);
        }
        .footer{
            background-color: #F1F8FF;
            padding: 0 3rem;
        }
        
        .footer .logo{
            grid-column: span 2;
            width: 250%;
            margin: 50px 0 45px -20px;
            grid-row: 1;
        }
        
        .connect{
            grid-column: 4 / span 5 ;
            margin: 50px 0 45px 0;
            padding-left: 2.2rem;
    
        }
        
        .connect h3{
            margin: 20px 0 0 0;
            font-size: 1.6rem;
        }
        
        .contacts{
            display: flex;
            flex-direction: column;
            padding: 1.2rem 0;
        }
        
        .contacts .icon{
            display: flex;
            align-items: center;
            margin: 4px 0;
            gap: 8px;
            text-decoration: none;
            color: #222222;
        }
        
        .contacts .icon:hover{
            cursor: pointer;
            transform: translateY(-2px);
            transition: 0.3s ease-in-out;
        }
        
        .contacts .icon i {
            font-size: 1.2rem;
        }
        
        .contacts .icon p{
            font-size: 0.85rem;
            color: #343F4F;
        }
        
        .to-top{
            margin: 110px 0 45px 0;
            grid-column: 10 / span 4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            font-size: 14px;
            text-decoration: none;
            color: #222222;
            padding: 8rem 0 3rem 0;
        }
        .map{
            grid-column: 1 / span 4;
            margin-top: 20px;
            grid-row: auto;

        }
        .footer-navigation{
            margin-top: 20px;
            grid-column: 10;
            position: absolute;
            bottom: 78%;
            margin-left: 5%;
            grid-row: 1;
        }
    
        .footer-navigation ul{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .footer-navigation ul li{
            list-style-type: none;
        }
        .footer-navigation ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        .footer-navigation ul li a:hover{
            font-size: 18px;
            border-bottom: 3px solid grey;
        }
        .card-section{
            background-color: #ebfcff60;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        
        .card-section .heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 10.2rem;
            flex-direction: column;
            gap: 10px;
        }
        .card-section .heading h1{
            margin: 0 2rem;
            width: 400px;
            font-size: 2.4rem;
        }
        .card-container{
            display: flex;
            flex-direction: column;
        }
        .card-section .heading p{
            font-size: 0.9rem;
            width: 30%;
            margin-right: 40px;
            text-align: center;
        }
        .card-section2{
            background-color: #ebfcff60;
            margin-bottom: 50px;
            margin-top: 80px;
        }
        hr{
            width: 45%;
            margin-left: 15%;
            margin-top: -35px;
        }
        .card-section2 .heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 10.2rem;
            flex-direction: column;
            gap: 10px;
            text-align:center;
        }
        .card-section2 .heading h1{
            margin: 0 2rem;
            width: auto;
            font-size: 2.4rem;
            text-align: center;
        }
    
        .card-section2 .heading p{
            font-size: 0.9rem;
            width: 60%;
            text-align: center;
        }
        .card-detail p{
            font-size: 0.8rem;
        }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    /*CONTACTS*/
    .lets-get-in-touch{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .right-section{
        width: 100%;
        align-items: center;
    }
    .emailadd, .firstname, .lastname{
        width: 50% !important;
    }
    .left-section{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .left-section p{
        text-align: center;
        margin: 0 auto;
    }

        .paragraph-3rdsec{
            margin-top: 200px;
        }
        .buttons{
            display: flex;
            justify-content: end;
            margin-top: -40px;
        }
        .animalholder{
            position: absolute;
            top: 109%;
        }
        .animalholder img{
            width: 100%;
            position:relative;
            left: 0;
            border-radius: 5px;
        }
        .infohold{
            background-color: #e8ffe8;
            width: 400px;
            height: 450px;
            left: 15%;
            border-radius: 10px;
            text-align: start;
            padding: 40px 55px;
            bottom: -80%;
        }
        .places-to-go{
            height: 800px;
        }
        .infohold h3{
            font-size: 30px;
            margin-top: 15px;
            letter-spacing: -1px;
            line-height: 45px;
        }
        .infohold .infoaboutbirdie{
            margin-top: 25px;
        }
        .infohold .seemore{
            width: 30%;
            height: 13%;
            margin-top: 30px;
            background-color: #178a17;
            border: 0;
            border-radius: 5px;
            font-size: 15px;
            color: white;
            letter-spacing: 1px;
        }
        .grid{
            position: relative;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: 30px;
            grid-template-rows: repeat(3, 1fr);
        }
        .footer{
            background-color: #F1F8FF;
            padding: 0 3rem;
        }
        
        .footer .logo{
            grid-column: span 2;
            width: 250%;
            margin: 50px 0 45px -20px;
            grid-row: 1;
        }
        
        .connect{
            grid-column: 5 / span 5 ;
            margin: 50px 0 45px 0;
            padding-left: 2.2rem;
            margin-top: 99px;
        }
        
        .connect h3{
            margin: 20px 0 0 0;
            font-size: 1.6rem;
        }
        
        .contacts{
            display: flex;
            flex-direction: column;
            padding: 1.2rem 0;
        }
        
        .contacts .icon{
            display: flex;
            align-items: center;
            margin: 4px 0;
            gap: 8px;
            text-decoration: none;
            color: #222222;
        }
        
        .contacts .icon:hover{
            cursor: pointer;
            transform: translateY(-2px);
            transition: 0.3s ease-in-out;
        }
        
        .contacts .icon i {
            font-size: 1.2rem;
        }
        
        .contacts .icon p{
            font-size: 0.85rem;
            color: #343F4F;
        }
        
        .to-top{
            margin: 110px 0 45px 0;
            grid-column: 9 / span 4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            font-size: 14px;
            text-decoration: none;
            color: #222222;
            padding: 8rem 0 3rem 0;
        }
        .map{
            grid-column: 1 / span 4;
            margin-top: 20px;
            grid-row: auto;

        }
        .paragraph-3rdsec{
            margin-top: 250px;
        }
        .footer-navigation{
            margin-top: 20px;
            grid-column: 10;
            position: absolute;
            bottom: 78%;
            margin-left: 5%;
            grid-row: 1;
        }
    
        .footer-navigation ul{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .footer-navigation ul li{
            list-style-type: none;
        }
        .footer-navigation ul li a{
            font-size: 15px;
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
        .footer-navigation ul li a:hover{
            font-size: 18px;
            border-bottom: 3px solid grey;
        }
        .card-section{
            background-color: #ebfcff60;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        
        .card-section .heading{
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 2rem 4.2rem;
            flex-direction: column;
            gap: 10px;
        }
        .card-section .heading h1{
            margin: 0 0rem;
            width: 400px;
            font-size: 2.4rem;
            text-align: start;
            margin-top: 25px;
        }
        .card-container{
            margin-top: 70px;
            padding: 0px 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card-section .heading p{
            font-size: 0.9rem;
            width: 80%;
            margin-right: 40px;
            text-align: start;
        }
        .card-section2{
            background-color: #ebfcff60;
            margin-bottom: 50px;
            margin-top: 80px;
        }
        hr{
            width: 45%;
            margin-left: 15%;
            margin-top: -35px;
        }
        .card-section2 .heading{
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 2rem 4.2rem;
            flex-direction: column;
            gap: 10px;
            text-align:center;
        }
        .card-section2 .heading h1{
            margin: 0 0rem;
            font-size: 2.4rem;
            text-align: start;
        }
        .card-section2 .heading p{
            font-size: 0.9rem;
            width: 90%;
            margin-right: 40px;
            text-align: start;
        }
        .card-detail p{
            font-size: 0.8rem;
        }
}

/*RESPONSIVENESS CONTACT PAGE*/
/* Discover Page - Cafe - Start*/
.bg {
    background-color: black;
}
.resto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aning{
    height: 62rem;
    padding: 0 1rem;
    background:transparent;
}

.resto-1-bg{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0,0.5)), url("assets/RESTO-CAFE/Cafe\ du\ Tukon/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.resto-2-bg{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0,0.6)), url("assets/RESTO-CAFE/Korner\ Hauz\ Cafe/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.resto-3-bg{
    background:linear-gradient(rgba(0,0,0,0.6   ), rgba(0, 0, 0,0.6)), url("assets/RESTO-CAFE/Octagon\ Bed\ and\ Dine/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.resto-4-bg{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0,0.6)), url("assets/RESTO-CAFE/Pension\ Ivatan/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: left;
    grid-column: span 5;
    margin: 8.7rem 2rem;
    padding: 6.5rem 0rem 0rem 7rem;
}

.details h1 {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}
.details p{
    font-size: 1.2rem;
    padding: 1.5rem 2.2rem 0 0;
    color: white;
    
}
.menu-container {
    grid-column: 6 / span 7;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.menu-container img {
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    object-fit: cover;

}

.menu-container img:hover {
    transform: scale(1.03);
}
/* Discover Page - Cafe - Ends */
/* Discover Page - Delicacies - Start */


.delicacies-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dc {
    padding: 0 11.2rem;
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
}

.delicacies-container .delicacies-item-1
.img-placeHolder, .delicacies-container .delicacies-item-3
.img-placeHolder, .delicacies-container .delicacies-item-5
.img-placeHolder, .delicacies-container .delicacies-item-7
.img-placeHolder {
    grid-column: span 5;
}

.delicacies-container .delicacies-item-2
.img-placeHolder, .delicacies-container .delicacies-item-4
.img-placeHolder, .delicacies-container .delicacies-item-6
.img-placeHolder, .delicacies-container .delicacies-item-8
.img-placeHolder {
    grid-column: 8 / span 5;
    transition-delay: 400ms;
}

.delicacies-container .dc .delicacies-text{
}

.delicacies-item-1 .delicacies-text,
.delicacies-item-3 .delicacies-text,
.delicacies-item-5 .delicacies-text,
.delicacies-item-7 .delicacies-text{
    grid-column: 7 / span 6;
    transition-delay: 400ms;
}

.delicacies-item-2 .delicacies-text,
.delicacies-item-4 .delicacies-text,
.delicacies-item-6 .delicacies-text,
.delicacies-item-8 .delicacies-text{
    grid-column: span 6;

}

.dc-heading{
    grid-column: span 12;
    padding: 5rem 0 3rem 0;
    text-align: center;
}
.dc-heading h1 {
    font-size: 4.5rem;
    color: #222222;
    word-wrap: balance;
}

.dc-heading p {
    color: #707070;
    font-size: 1.1rem;
    word-wrap: balance;
    
}

.dc .img-placeHolder img{
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.delicacies-text h1,p {
    color: #333333;
}

.delicacies-text h1 {
    display: inline-block;
    font-weight: bolder;
    font-size: 3.8rem;
    border-bottom: 2px solid #757575;
    margin: 0 0 0 3rem;
}

.delicacies-text p {
    margin-top: 0.7rem;
    padding: 0 0 0 3rem;
    font-size: 1.1rem;
    color: #707070;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.2s ;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* Discover Page - Delicacies - Ends */
/*RESPONSIVENESS*/